@import "~compass-sass-mixins/lib/compass";

.table {
  display: table;
  width: 100%;
}
.tablePageBreakRow {
  page-break-inside: auto;
  height: 5px;
  page-break-after: auto;
  page-break-before: auto;
}

.tableRow {
  > div {
    padding: 2px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    page-break-inside: avoid;

    &:last-of-type {
      border-right: 1px solid;
    }
  }

  a[href^=http\:\/\/www\.google\.com\/maps]:after {
    content: ''
  }

  page-break-inside: avoid;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.colSmall {
  display: table-cell;
  width: 125px;
}
.colStartRoute {
  display: table-cell;
  width: 125px;
}

.col {
  display: table-cell;
}


.logo {
  float: right;
  width: 75px;
}

.description {
  page-break-inside: avoid;

  > div:first-of-type {

  }
  > div {
    page-break-after: auto;
    page-break-inside: avoid;

    border: 1px solid;

    > div {
      font-size: smaller;
    }

    > div:nth-of-type(n+2) {
      border-left: 1px solid;

      a[href^=http\:\/\/www\.google\.com\/maps]:after {
        content: ''
      }
    }
  }
}

.meetingPoint {
  margin-top: 10px;
  margin-bottom: 5px;
}

.noPageBreak {
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
  display: block;
  span {
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;
  }
}

.print {
  @page
  {
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 10mm 10mm 10mm 10mm;
  }

  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .list {
    text-align: center;
    page-break-inside: avoid;

    .tourNameCol {
      text-align: left;
    }

    .fullday {
      font-weight: bold;
    }

    > div:first-child {
      border-top: 1px solid;
    }

    .listItem {
      > div {
        border-left: 1px solid;
      }
      border-bottom: 1px solid;
      border-right: 1px solid;
    }
  }
}

.section{
  //@include display-flex;
  //@include flex-direction(column);
  page-break-before: always;
}

