.locations {
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .nameCol {
    width: 15%;
  }
  .addressCol {
    text-align: left;
    input {
      text-align: left;
    }
  }
  .coordsCol {
    width: 10%;
  }
  .buttonCol {
    width: 20%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}
