.restaurants {
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .nameCol {
  }
  .typesCol {
    width: 18%;
    text-align: left;
    input {
      text-align: left;
    }
  }
  .difficultyCol {
    width: 10%;
  }
  .distanceCol {
    width: 10%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .elevationCol {
    width: 10%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .gradientCol {
    width: 10%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .buttonCol {
    width: 20%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}
